/*Novo*/
.vivaldi {
    top: 5px;
    /* display: none; */
}

#header {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: -46px;
}

.tabs-top .tab-position .tab.insubstrip.active:not(.marked) {
    padding-bottom: 2px;
    margin-bottom: 0;
    border-bottom-left-radius: var(--radiusHalf);
    border-bottom-right-radius: var(--radiusHalf);
}

#tabs-container .tab:not(.tab-group) {
    border-radius: var(--radiusHalf);
}

.mainbar {
    color: var(--colorImageFg, var(--colorFg));
    background-color: var(--colorBgAlphaBlur);
}

.color-behind-tabs-off.address-top .mainbar {
    background-color: var(--colorBgAlphaBlur);
}

.color-behind-tabs-off .toolbar-mainbar .toolbar-extensions,
.color-behind-tabs-off .toolbar-mainbar .page-zoom-controls,
.color-behind-tabs-off .toolbar-mainbar {
    background-color: transparent;
    color: var(--colorImageFg, var(--colorFg));
    backdrop-filter: var(--backgroundBlur);
}

#browser.tabs-top #header {
    background-color: var(--colorBgAlphaBlur);
    backdrop-filter: var(--backgroundBlur);
}

.color-behind-tabs-off #tabs-subcontainer.top,
.transparent-tabbar #tabs-subcontainer.top {
    margin-left: 48px;
}

.color-behind-tabs-off.address-top .mainbar {
    border: 0px;
}

.tabs-top .tab.active:not(.marked):not(.tab-mini):not(.tab-in-accordion):after,
.tabs-top .tab.active:not(.marked):not(.tab-mini):not(.tab-in-accordion):before {
    bottom: 0;
    -webkit-mask-image: radial-gradient(circle at 0 0, transparent, transparent 73%);
}

#header #titlebar .window-buttongroup {
    padding-top: 2px;
    padding-right: 1px;
}

.toolbar-tabbar.sync-and-trash-container {
    margin-right: 8px;
}


#webpage-stack {
    border-bottom-left-radius: var(--radiusHalf) ;    
    border-top-left-radius: var(--radiusHalf) ;   
    border: 5px solid var(--colorBgAlphaBlur);
    /* background-color: var(--colorBgAlphaBlur); */
    /* margin-top: 1px; */
    /* margin-bottom: 1px; */
    margin-left: -5px;
    /* margin-right: 0px; */
}

browser > footer > .toolbar-statusbar {
    border: 0px solid transparent;
}

#panels-container {
    /* background-color: transparent; */
}

#browser .tab-position .tab.active {
    background-color: var(--colorAccentBg);
    color: var(--colorAccentFg);
}

#switch {
    background-color: transparent;
    /* color: var(--colorAccentFg); */

    /* border-radius: var(--radiusHalf) ;     */
    /* border-top-left-radius: var(--radiusHalf) ; */
    /* border-bottom-left-radius: var(--radiusHalf) ;     */
    /* border-right: 1px solid var(--colorBorder); */
    /* margin-right: 2px; */
    /* margin-bottom: 2px;  */
    /* margin-left: 2px; */
}

.panel-group {
    /* background-color: var(--colorBgAlphaBlur); */
    /* border-radius: var(--radiusHalf); */
    /* border: 1px solid var(--colorBorder); */
    
    /* margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px; */
}


.tracker-warning,
.SpeedDialView-SearchField,
.SpeedDial-Blocked-Counter {
    backdrop-filter: var(--backgroundBlur);
    background-color: var(--colorBgAlphaBlur);
}

.startpage .startpage-navigation {
    /* backdrop-filter: var(--backgroundBlur); */
    color: var(--colorImageCenterFg);
    background-color: transparent;
    box-shadow: inset 0 -2px 0 transparent;
}

:not(.tabs-bottom)#browser>footer {
    backdrop-filter: var(--backgroundBlur);
    background-color: var(--colorBgAlphaBlur);
}

.speeddial .dial {
    border-radius: var(--radius);
    backdrop-filter: var(--backgroundBlur);
    background-color: var(--colorBgAlphaBlur);
}
/* 
.NotesManager {
    background-color: var(--colorBgAlphaBlur);
    backdrop-filter: var(--backgroundBlur);
}

.NotesManager-Note {
    background-color: var(--colorBgAlphaBlur);
    backdrop-filter: var(--backgroundBlur);
} */